[submodule "dependencies/htslib"]
        path = dependencies/htslib
        url = https://github.com/Intel-HLS/htslib.git
        branch = intel_mods
[submodule "dependencies/TileDB"]
        path = dependencies/TileDB
        url = https://github.com/omicsdataautomation/TileDB.git
        branch = genomicsdb_req
[submodule "dependencies/RapidJSON"]
        path = dependencies/RapidJSON
        url = https://github.com/miloyip/rapidjson.git

