*.swp
*.o
*.a
*.so
*.d
test_inputs
my_workspace*
.directory
examples/bin/*
examples/obj/*
*temp*
.project
.cproject
bin/*
*.gcno
*.gcda
tests/coverage.info
*.class
*.jar
*.iml
.idea/*
/target/
.tmp_loader.json
build/
src/main/java/com/intel/genomicsdb/GenomicsDBCallsetsMapProto.java
src/main/java/com/intel/genomicsdb/GenomicsDBExportConfiguration.java
src/main/java/com/intel/genomicsdb/GenomicsDBImportConfiguration.java
src/main/java/com/intel/genomicsdb/GenomicsDBVidMapProto.java

