[submodule "dependencies/htslib"]
	path = dependencies/htslib
	url = https://github.com/Intel-HSS/htslib.git
[submodule "dependencies/TileDB"]
	path = dependencies/TileDB
	url = git@github.com:stavrospapadopoulos/TileDB.git
[submodule "dependencies/RapidJSON"]
	path = dependencies/RapidJSON
	url = https://github.com/miloyip/rapidjson.git
