appdirs==1.4.3
astroid==1.5.2
bleach==1.5.0
blinker==1.4
cffi==1.9.1
chardet==2.3.0
click==6.7
colorama==0.3.9
colorspacious==1.1.0
conda==4.3.11
cryptography==1.7.1
cycler==0.10.0
decorator==4.0.11
defusedxml==0.5.0
entrypoints==0.2.2
Flask==0.12.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
html5lib==0.999
idna==2.2
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.4
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.1.0
jupyter-core==4.3.0
lazy-object-proxy==1.2.2
MarkupSafe==0.23
matplotlib==2.0.0
mccabe==0.6.1
menuinst==1.4.2
mistune==0.7.3
nbconvert==5.1.1
nbformat==4.2.0
notebook==4.3.1
numpy==1.13.1
olefile==0.44
packaging==16.8
pandas==0.20.3
pandocfilters==1.4.1
path.py==10.1
pbr==3.0.0
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.9
protobuf==3.2.0
py==1.4.33
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pygenomicsdblib==0.5
Pygments==2.1.3
pylint==1.7.1
pyOpenSSL==16.2.0
pyparsing==2.2.0
pytest==3.0.7
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.2
PyVCF==0.6.8
pywin32==220
pyzmq==16.0.2
qtconsole==4.2.1
redis==2.10.5
requests==2.12.4
ruamel-yaml===-VERSION
scipy==0.18.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.9
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
tensorflow==1.0.0
testpath==0.3
tflearn==0.2.1
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
Werkzeug==0.12.1
widgetsnbextension==1.2.6
win-unicode-console==0.5
wrapt==1.10.10
WTForms==2.1
